@page
@using APPLICATION_DEMO.tHelper
@addTagHelper *, APPLICATION_DEMO

<h1>Contact</h1>
<p>If you have any questions, please don't hesitate to contact us:</p>

<!-- استخدم EmailTagHelper هنا -->
<email address="neam@gmail.com" email="Contact us"></email>

